{% extends "layout.njk" %}

{% block head %}
  <title>Erro 404 - Diego Jurfest</title>
{% endblock %}

{% block content %}

  <div id="wrapper">
    <h1>Erro 404</h1>
  </div>

  <section class="error">
    <p id="first">Erro 404 comumente aparece em páginas da internet quando nenhum conteúdo 
    foi encontrado para a rota.</p>
    <p id="middle">Lamentamos que o conteúdo buscado não foi encontrado.</p>
    <p id="last">Em breve aqui um jogo muito mais legal que o do dinossaurinho. (Será???)</p>
  </section>


{% endblock %}